.bartlp--block-1 {
  transition: all 0.5s linear;
  position: relative;
  height: 100vh;
  z-index: 1;

  &-lottie-wrapper {
    margin-top: auto;
    padding-top: 8%;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding-left: 10%;
    padding-right: 10%;
    img {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: none;
      outline: none;
      border: none;
      box-shadow: none;
      transition: all 0.5s linear;
    }

    h1 {
      padding-top: 12%;
      margin-top: 5%;
      padding-right: 10%;
      margin-bottom: 3%;
      // font-weight: 900;
      // font-size: 80px;
      line-height: 84px;
      color: #000000

    }
  }

  button {
    margin-top: 2%;
    position: absolute;
  }
}

@media screen and (max-width: 1400px) {
  .bartlp--block-1 {
    article {
      img {
        height: 50%;
      }
    }
    &-lottie-wrapper {
      margin-top: auto;
      padding-top: 5%;
    }
  }
}

@media screen and (max-width: 1150px) {
  .bartlp--block-1 {
    article {
      img {
        height: 40%;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .bartlp--block-1 {
    article {
      h1 {
        font-family: var(--font-black-satoshi);
        font-size: 74px;
        line-height: 99.9px;

        .medium {
          font-family: var(--font-medium-satoshi);
          font-size: 74px;
          line-height: 99.9px;
        }
      }
      img {
        height: 30%;
      }
    }
    &-lottie-wrapper {
      margin-top: auto;
      padding-top: 20%;
    }
  }
}

@media screen and (max-width: 835px) {
  .bartlp--block-1 {
    article {
      padding-top: 12%;
      img {
        height: 40%;
      }
      h1 {
        padding-top: 0%;
        padding-left: 0%;
        padding-right: 0%;
        .medium {
        }
      }
      button {
        position: relative;
      }
    }
    &-lottie-wrapper {
      padding-top: 3%;
      margin-top: 3%;
      width: 214px;
    }
  }
}

@media screen and (max-width: 650px) {
  .bartlp--block-1 {
    article {
      padding-top: 18%;
      img {
        height: 30%;
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .bartlp--block-1 {
    article {
      padding-top: 30%;
      text-align: center;
      align-items: center;
      h1 {
        font-family: var(--font-black-satoshi);
        font-size: 54px;
        line-height: 72.9px;

        .medium {
          font-family: var(--font-medium-satoshi);
          font-size: 54px;
          line-height: 72.9px;
        }
      }
      img {
        height: 30%;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .bartlp--block-1 {
    height: 150vh;
    article {
      padding-top: 25%;
      padding-left: 1%;
      padding-right: 1%;
      text-align: center;
      align-items: center;
      img {
        height: 30%;
      }
      h1 {
        padding-top: 15%;
        margin: 0%;
        padding-bottom: 5%;
        padding-left: 1%;
        padding-right: 1%;
      }
      button {
        position: relative;
      }
    }

    &-lottie-wrapper {
      margin-top: 10%;
    }
  }
}
