.bartlp--block-6 {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F4F8;
    article {
      padding: 25px;
      text-align: center;
      z-index: 1;
      ul {
        list-style-type: none;
        display: flex;
        gap: 32px;
        li {
          display: flex;
          justify-content: center;
          border-radius: 20px;
          background-color: #ffffff;
          box-shadow: 0px 0px 2px rgba(103, 110, 144, 0.1),
            0px 1px 2px rgba(103, 110, 144, 0.05),
            0px 2px 4px rgba(103, 110, 144, 0.08),
            0px 6px 8px rgba(103, 110, 144, 0.05),
            0px 16px 16px rgba(103, 110, 144, 0.04);
          img {
            margin: auto;
          }
        }
      }
    }
  
    &-container {
      display: flex;
      flex-direction: row;
    }





  }
  
   