.bartlp--block-4 {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7%;
  article {
    text-align: center;
    z-index: 1;
  }
  .button-wrapper {
    padding-top: 5%;
  }

  .bartlp--block-4-mosaic {
    display: grid;
    padding-left: 13%;
    padding-right: 13%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 15px;
    font-family: var(--font-bold-satoshi);
    font-size: 24px;
    line-height: 32.4px;
    font-weight: 700;
    color: var(--color-font-secondary);
    p {
      padding-right: 10%;
      padding-left: 10%;
      padding-top: 2%;
      padding-bottom: 2%;
      margin: 0%;
    }
    &-block {
      &-1 {
        grid-area: 1 / 1 / 3 / 2;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-container {
          &-1 {
            display: flex;
            justify-content: center;
            margin-left: 10%;
            margin-right: 10%;
            padding-bottom: 7%;
            img {
              max-width: 100%;
              height: auto;
              align-self: center;
            }
            &-container-2 {
            }
          }
          &-2 {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      &-2 {
        grid-area: 1 / 2 / 2 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-container {
          &-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 50%;
            justify-content: center;
          }
          &-2 {
            display: flex;
            flex-direction: column;
            height: 50%;
            justify-content: flex-end;
            img {
              align-self: center;
            }
          }
        }
      }
      &-3 {
        grid-area: 1 / 3 / 2 / 4;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &-container {
          &-1 {
            display: flex;
            flex-direction: column;
            height: 50%;
            justify-content: center;
            img {
              align-self: center;
            }
          }
          &-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 50%;
            justify-content: center;
          }
        }
      }
      &-4 {
        grid-area: 2 / 2 / 3 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      &-5 {
        grid-area: 2 / 3 / 3 / 4;
        background-color: transparent;
        border-radius: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        img {
          border-radius: 20px;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      &-6 {
        grid-area: 3 / 1 / 4 / 2;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-container {
          &-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40%;
          }
          &-2 {
            display: flex;
            height: 60%;
            justify-content: center;
            img {
              object-fit: cover;
              height: 100%;
              border-radius: 20px;
            }
          }
        }
      }
      &-7 {
        grid-area: 3 / 2 / 4 / 4;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-container {
          &-1 {
            p {
              font-size: 50px;
              font-weight: 700;
              line-height: 52.56px;
              padding: 0%;
              margin-bottom: 2%;
            }
          }
          &-2 {
            p {
              font-size: 24px;
              padding: 0%;
            }
          }
        }
      }
    }
    #alteration1 {
      color: #36415e;
      font-size: 94px;
      font-weight: 700;
      line-height: 45px;
      display: flex;
      padding-top: 7%;
      padding-bottom: 7%;
    }
    #alteration2 {
      color: #1d1d1f;
    }
    #alteration3 {
      color: #0b9e46;
    }
  }
  @media screen and (max-width: 835px) {
    .button-wrapper {
      padding-top: 7%;
      padding-bottom: 5%;
    }
    .bartlp--block-4-mosaic {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      padding-left: 5%;
      padding-right: 5%;
      &-block {
        &-1 {
          grid-area: 1 / 1 / 3 / 2;
        }
        &-2 {
          grid-area: 1 / 2 / 2 / 3;
        }
        &-3 {
          grid-area: 3 / 1 / 4 / 2;
        }
        &-4 {
          grid-area: 2 / 2 / 3 / 3;
        }
        &-5 {
          grid-area: 3 / 2 / 4 / 3;
        }
        &-6 {
          grid-area: 4 / 1 / 5 / 2;
        }
        &-7 {
          grid-area: 4 / 2 / 5 / 3;

          &-container {
            &-1 {
              p {
                font-size: 50px;
                font-weight: 700;
                padding: 0%;
                margin-bottom: 2%;
                line-height: 56px;
              }
            }
            &-2 {
              p {
                font-size: 24px;
                padding: 0%;
                margin-left: 10%;
                margin-right: 10%;
              }
            }
          }
        }
      }
    }
    .button-wrapper {
      padding-top: 7%;
    }
  }

  @media (min-width: 391px) and (max-width: 630px) {
    .bartlp--block-4-mosaic {
      &-block {
        &-1 {
          p {
            font-size: 20px;
            line-height: 27px;
          }
        }
        &-2 {
          &-container {
            &-1 {
              p {
                font-size: 20px;
                line-height: 27px;
              }
            }
          }
        }
        &-3 {
          &-container-1 {
            height: 20%;
          }
          p {
            font-size: 20px;
            line-height: 27px;
          }
        }
        &-4 {
          p {
            font-size: 20px;
            line-height: 27px;
          }
        }
        &-6 {
          p {
            font-size: 20px;
            line-height: 27px;
          }
        }
        &-7 {
          &-container {
            &-1 {
              p {
                font-size: 35px;
                font-weight: 700;
                padding: 0%;
                margin-bottom: 2%;
                line-height: 56px;
              }
            }
            &-2 {
              p {
                font-size: 20px;
                line-height: 27px;
                padding: 0%;
                margin-left: 10%;
                margin-right: 10%;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 390px) {
    .button-wrapper {
      padding-top: 7%;
      padding-bottom: 10%;
    }
    .bartlp--block-4-mosaic {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 376.48px 376.48px 376.48px;
      &-block {
        &-1 {
          grid-area: 1 / 1 / 2 / 2;
          &-container {
            &-1 {
              margin-left: 0%;
              margin-right: 0%;
              margin-top: 10%;
              height: 75%;
              img {
                margin: 0%;
                padding: 0%;
                height: auto;
              }
            }
            &-2 {
            }
          }
        }
        &-2 {
          grid-area: 2 / 1 / 3 / 2;
          img {
          }
        }
        &-3 {
          grid-area: 3 / 1 / 4 / 2;
        }
        &-4 {
          grid-area: 4 / 1 / 5 / 2;
        }
        &-5 {
          grid-area: 5 / 1 / 6 / 2;
        }
        &-6 {
          grid-area: 6 / 1 / 7 / 2;
        }
        &-7 {
          grid-area: 7 / 1 / 8 / 2;
        }
      }
    }
  }
}
