.bartlp--block-5 {
  // img {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   margin: 0;
  //   padding: 0;
  //   width: 100%;
  //   height: 100vh;
  //   max-width: none;
  //   max-height: none;
  //   -o-object-fit: fill;
  //   object-fit: fill;
  //   outline: none;
  //   border: none;
  //   box-shadow: none;
  // }
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #FBFBFD;
  article {
    text-align: center;
    z-index: 1;
    u {
      list-style-type: none;
      display: flex;
      gap: 32px;
      li {
        display: flex;
        justify-content: center;
        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: 0px 0px 2px rgba(103, 110, 144, 0.1),
          0px 1px 2px rgba(103, 110, 144, 0.05),
          0px 2px 4px rgba(103, 110, 144, 0.08),
          0px 6px 8px rgba(103, 110, 144, 0.05),
          0px 16px 16px rgba(103, 110, 144, 0.04);
        img {
          margin: auto;
        }
      }
    }
  }

  .head-container{
    padding-bottom: 2%;
    h2{
      padding-left: 13%;
      padding-right: 13%;
      margin-bottom: 0;
    }
    p{
      padding-left: 14.5%;
      padding-right: 14.5%;
    }
  }
}
