// .bartlp--block-4 {
//   img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     margin: 0;
//     padding: 0;
//     width: 100%;
//     height: 100vh;
//     max-width: none;
//     max-height: none;
//     -o-object-fit: fill;
//     object-fit: fill;
//     outline: none;
//     border: none;
//     box-shadow: none;
//   }
//   align-self: center;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   height: 100%;
//   article {
//     padding: 25px;
//     text-align: center;
//     z-index: 1;
//     h1 {
//       text-transform: uppercase;
//     }
//     p {
//       font-size: 1.5rem;
//     }
//   }
//   position: relative;
//   height: 100vh;
//   @media screen and (max-width: 1060px) {
//     img {
//       object-fit: cover;
//     }
//   }
// }

.bartlp--block-4 {
  // img {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   margin: 0;
  //   padding: 0;
  //   width: 100%;
  //   height: 100vh;
  //   max-width: none;
  //   max-height: none;
  //   -o-object-fit: fill;
  //   object-fit: fill;
  //   outline: none;
  //   border: none;
  //   box-shadow: none;
  // }
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  article {
    padding: 25px;
    text-align: center;
    z-index: 1;
  }

  .bartlp--block-4-mosaic {
    display: grid;
    padding-left: 13%;
    padding-right: 13%;
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    font-family: var(--font-bold-satoshi);
    font-size: 24px;
    line-height: 32.4px;
    font-weight: 700;
    color: var(--color-font-secondary);
    p {
      padding-right: 10%;
      padding-left: 10%;
    }
    &-block {
      &-1 {
        grid-area: 1 / 1 / 3 / 2;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        // justify-content: space-evenly;
        // align-content: center;
        &-container {
          &-1 {
            display: flex;
            height: 75%;
            justify-content: center;
          }
          &-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25%;
            img {
              // margin: auto;
              // object-fit:fill;
              object-fit: fill;
            }
          }
        }
      }
      &-2 {
        grid-area: 1 / 2 / 2 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        // align-content: center;
        &-container {
          &-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35%;
          }
          &-2 {
            display: flex;
            height: 65%;
            justify-content: center;
            img {
              // margin: auto;
              // object-fit:fill;
              object-fit: fill;
            }
          }
        }
      }
      &-3 {
        grid-area: 1 / 3 / 2 / 4;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // align-content: center;
        &-container {
          &-1 {
            display: flex;
            height: 50%;
            justify-content: center;
            align-items: flex-end;
            img {
              object-fit: none;
            }
          }
          &-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50%;
            margin: 0%;
          }
        }
      }
      &-4 {
        grid-area: 2 / 2 / 3 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
        // display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-5 {
        grid-area: 2 / 3 / 3 / 4;
        background-color: transparent;
        border-radius: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        // overflow: auto;
        img {
          border-radius: 20px;
          height: 100%;
          width: 100%;
        }
      }
      &-6 {
        grid-area: 3 / 1 / 4 / 2;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-container {
          &-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40%;
          }
          &-2 {
            display: flex;
            height: 60%;
            justify-content: center;
            img {
              // margin: auto;
              // object-fit:fill;
              object-fit: fill;
              height: 100%;
            }
          }
        }
      }
      &-7 {
        grid-area: 3 / 2 / 4 / 4;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-container {
          &-1 {
            p {
              font-size: 50px;
              font-weight: 700;
              padding: 0%;
              margin-bottom: 2%;
              // line-height: 3px;
            }
          }
          &-2 {
            p {
              font-size: 24px;
              padding: 0%;
            }
          }
        }
      }
    }
    #alteration1 {
      color: #36415e;
      font-size: 94px;
      font-weight: 700;
      line-height: 127px;
    }
    #alteration2 {
      color: #1d1d1f;
    }
    #alteration3 {
      color: #0b9e46;
    }
  }
  @media screen and (max-width: 835px) {
    .bartlp--block-4-mosaic {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      &-block {
        &-1 {
          grid-area: 1 / 1 / 3 / 2;
        }
        &-2 {
          grid-area: 1 / 2 / 2 / 3;
        }
        &-3 {
          grid-area: 3 / 1 / 4 / 2;
        }
        &-4 {
          grid-area: 2 / 2 / 3 / 3;
        }
        &-5 {
          grid-area: 3 / 2 / 4 / 3;
        }
        &-6 {
          grid-area: 4 / 1 / 5 / 2;
        }
        &-7 {
          grid-area: 4 / 2 / 5 / 3;
        }
      }
    }
  }

  @media screen and (max-width: 390px) {
    .bartlp--block-4-mosaic {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(7, 1fr);
      &-block {
        &-1 {
          grid-area: 1 / 1 / 2 / 2;
        }
        &-2 {
          grid-area: 2 / 1 / 3 / 2;
        }
        &-3 {
          grid-area: 3 / 1 / 4 / 2;
        }
        &-4 {
          grid-area: 4 / 1 / 5 / 2;
        }
        &-5 {
          grid-area: 5 / 1 / 6 / 2;
        }
        &-6 {
          grid-area: 6 / 1 / 7 / 2;
        }
        &-7 {
          grid-area: 7 / 1 / 8 / 2;
        }
      }
    }
  }
}
