.bartlp--block-3 {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;

  article {
    text-align: center;
    z-index: 1;
  }

  .bartlp--block-3-mosaic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    width: 100vw;
    // padding-right: 2.08%;
    // padding-left: 2.08%;
    &-block {
      &-1 {
        grid-area: 1 / 1 / 2 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
        // object-fit: contain;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        &-container {
          &-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
          &-2 {
            // &-row {
            //   display: flex;
            //   flex-direction: row;
            //   justify-content: center;
            //   align-items: center;
            //   margin-block-start: none;
            //   margin-block-end: none;
            //   &-1 {
            //     margin-block-start: none;
            //     margin-block-end: none;
            //   }
            //   &-2 {
            //     margin-block-start: none;
            //     margin-block-end: none;
            //   }
            // }
            overflow: hidden;
            height: 50%;
            display: flex;
            flex-direction: column;
            ul {
              list-style-type: none;
              display: flex;
              padding-inline-start: 0;
              justify-content: center;

              // justify-content: flex-start;
 
              // object-fit: none;
              margin: none;
              padding: none;
              margin-block-start: 4px;
              margin-block-end: 4px;
              width: 100vw;
              li {
                box-sizing: border-box;
                // width: 238px;
                border: 1px solid #a6b2d1;
                border-radius: 10px;
                margin-right: 4px;
                margin-left: 4px;
                display: flex;
                justify-content: center;
                width: 1/3.5 * (100vh);
                img {
                  margin: auto;
                  // padding: 2%;
                  // margin: auto;
                  height: 60%;
                }
              }
            }
          }
        }
      }
      &-2 {
        grid-area: 2 / 1 / 3 / 2;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-container-2 {
          img {
            object-fit: fill;
            justify-content: flex-end;
          }
        }
      }
      &-3 {
        grid-area: 2 / 2 / 3 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &-container-2 {
          ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-inline-start: 0;
            li {
              box-sizing: border-box;
              width: 126px;
              height: 77px;
              background-color: #ffffff;
              border-radius: 10px;
              margin: 4px;
              display: flex;
              justify-content: center;
              img {
                margin: auto;
              }
            }
          }
        }
      }
      &-4 {
        grid-area: 3 / 1 / 4 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        &-container-1 {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  // .bartlp--block-3-mosaic-block-2 {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   &-container-2 {
  //     img {
  //       object-fit: fill;
  //       justify-content: flex-end;
  //     }
  //   }
  // }

  // .bartlp--block-3-mosaic-block-3 {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-around;
  //   &-container-2 {
  //     ul {
  //       list-style-type: none;
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //       padding-inline-start: 0;
  //       li {
  //         box-sizing: border-box;
  //         width: 126px;
  //         height: 77px;
  //         background-color: #ffffff;
  //         border-radius: 10px;
  //         margin: 4px;
  //         display: flex;
  //         justify-content: center;
  //         img {
  //           margin: auto;
  //         }
  //       }
  //     }
  //   }
  // }

  // .bartlp--block-3-mosaic-block-4 {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-evenly;
  //   &-container-1 {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //   }
  // }

  @media screen and (max-width: 835px) {
    .bartlp--block-3-mosaic {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      &-block {
        &-1 {
          grid-area: 1 / 1 / 2 / 2;
        }
        &-2 {
          grid-area: 2 / 1 / 3 / 2;
        }
        &-3 {
          grid-area: 3 / 1 / 4 / 2;
        }
        &-4 {
          grid-area: 4 / 1 / 5 / 2;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          &-container-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    // .bartlp--block-3-mosaic-block-4 {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-evenly;
    //   &-container-1 {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //   }
    // }
  }

  @media screen and (max-width: 835px) {
    .bartlp--block-3-mosaic {
      grid-column-gap: 16px;
      grid-row-gap: 16px;
    }
  }
}
