.bartlp--block-1 {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    img{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: none;
      max-height: none;
      object-fit: fill;
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
  position: relative;
  height: 100vh;
}
