.bartlp--block-3 {
  // img {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   margin: 0;
  //   padding: 0;
  //   width: 100%;
  //   height: 100vh;
  //   max-width: none;
  //   max-height: none;
  //   -o-object-fit: fill;
  //   object-fit: fill;
  //   outline: none;
  //   border: none;
  //   box-shadow: none;
  // }

  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;

  article {
    padding: 25px;
    text-align: center;
    z-index: 1;
  }

  .bartlp--block-3-mosaic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    width: 100vw;
    &-block {
      &-1 {
        grid-area: 1 / 1 / 2 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
        ul {
          list-style-type: none;
          padding-inline-start:0;
          li {
            box-sizing: border-box;
            width: 238px;
            height: 135px;
            border: 1px solid #a6b2d1;
            border-radius: 10px;
            margin: 4px;
            display: flex;
            justify-content: center;
            img {
              margin: auto;
            }
          }
        }
      }
      &-2 {
        grid-area: 2 / 1 / 3 / 2;
        background-color: #f5f5f7;
        border-radius: 20px;
      }
      &-3 {
        grid-area: 2 / 2 / 3 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
      }
      &-4 {
        grid-area: 3 / 1 / 4 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
      }
    }
  }

  .bartlp--block-3-mosaic-block-1-section-1-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &-row-1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &-row-2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  .bartlp--block-3-mosaic-block-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-section-2 {
      img {
        object-fit: fill;
        justify-content: flex-end;
      }
    }
  }

  .bartlp--block-3-mosaic-block-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &-section-2 {
      ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline-start:0;
        li {
          box-sizing: border-box;
          width: 126px;
          height: 77px;
          background-color: #ffffff;
          border-radius: 10px;
          margin: 4px;
          display: flex;
          justify-content: center;
          img {
            margin: auto;
          }
        }
      }
    }
  }

  .bartlp--block-3-mosaic-block-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    &-section-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:center;
    }
  }

  @media screen and (max-width: 835px) {
    .bartlp--block-3-mosaic {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      &-block {
        &-1 {
          grid-area: 1 / 1 / 2 / 2;
        }
        &-2 {
          grid-area: 2 / 1 / 3 / 2;
        }
        &-3 {
          grid-area: 3 / 1 / 4 / 2;
        }
        &-4 {
          grid-area: 4 / 1 / 5 / 2;
        }
      }
    }
    .bartlp--block-3-mosaic-block-4 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      &-section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
      }
    }
  }

  @media screen and (max-width: 835px) {
    .bartlp--block-3-mosaic {
      grid-column-gap: 16px;
      grid-row-gap: 16px;

    }

  }
}
