.bartlp--block-3 {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;

  article {
    text-align: center;
    z-index: 1;
  }

  .bartlp--block-3-mosaic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    &-block {
      &-1 {
        grid-area: 1 / 1 / 2 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 2%;
        margin-right: 2%;

        &-container {
          &-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
          &-2 {
            // &-row {
            //   display: flex;
            //   flex-direction: row;
            //   justify-content: center;
            //   align-items: center;
            //   margin-block-start: none;
            //   margin-block-end: none;
            //   &-1 {
            //     margin-block-start: none;
            //     margin-block-end: none;
            //   }
            //   &-2 {
            //     margin-block-start: none;
            //     margin-block-end: none;
            //   }
            // }
            //!
            // overflow: hidden;
            // height: 50%;
            // display: flex;
            // flex-direction: column;
            // background-color: aqua;
            // ul {
            //   background-color: pink;
            //   list-style-type: none;
            //   display: flex;
            //   padding-inline-start: 0;
            //   justify-content: center;
            //   margin: none;
            //   padding: none;
            //   margin-block-start: 4px;
            //   margin-block-end: 4px;
            //   width: 100vw;

            //   li {
            //     background-color: violet;
            //     width: 238px;
            //     height: 135px;
            //     box-sizing: border-box;
            //     // width: 238px;
            //     border: 1px solid #a6b2d1;
            //     border-radius: 10px;
            //     margin-right: 4px;
            //     margin-left: 4px;
            //     display: flex;
            //     img {
            //       margin: auto;
            //       // padding: 2%;
            //       // margin: auto;
            //       height: 60%;
            //     }
            //   }
            // }
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              overflow: hidden;
            &-row {
              &-1 {
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                grid-column-gap: 10px;
                padding-bottom: 10px;
                &-card {
                  width: 238px;
                  height: 135px;
                  box-sizing: border-box;
                  // width: 238px;
                  border: 1px solid #a6b2d1;
                  border-radius: 10px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img {
                    margin: auto;
                  }
                }
              }
              &-2 {
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                grid-column-gap: 10px;
                padding-bottom: 10px;
                &-card {
                  width: 238px;
                  height: 135px;
                  box-sizing: border-box;
                  // width: 238px;
                  border: 1px solid #a6b2d1;
                  border-radius: 10px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img {
                  }
                }
              }
            }
          }
        }
      }
      &-2 {
        grid-area: 2 / 1 / 3 / 2;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 4%;
        // margin-right: 2%;
        &-container {
          &-1 {
            height: 40%;
          }
          &-2 {
            height: 60%;
            img {
              // object-fit: contain;
              // justify-content: flex-end;
            }
          }
        }
      }
      &-3 {
        grid-area: 2 / 2 / 3 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // margin-left: 2%;
        margin-right: 4%;
        &-container-2 {
          padding-bottom: 15%;
          ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-inline-start: 0;
            li {
              box-sizing: border-box;
              width: 126px;
              height: 77px;
              background-color: #ffffff;
              border-radius: 10px;
              margin: 4px;
              display: flex;
              justify-content: center;
              img {
                margin: auto;
              }
            }
          }
        }
      }
      &-4 {
        grid-area: 3 / 1 / 4 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 2%;
        margin-right: 2%;
        &-container-1 {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  // .bartlp--block-3-mosaic-block-2 {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   &-container-2 {
  //     img {
  //       object-fit: fill;
  //       justify-content: flex-end;
  //     }
  //   }
  // }

  // .bartlp--block-3-mosaic-block-3 {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-around;
  //   &-container-2 {
  //     ul {
  //       list-style-type: none;
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //       padding-inline-start: 0;
  //       li {
  //         box-sizing: border-box;
  //         width: 126px;
  //         height: 77px;
  //         background-color: #ffffff;
  //         border-radius: 10px;
  //         margin: 4px;
  //         display: flex;
  //         justify-content: center;
  //         img {
  //           margin: auto;
  //         }
  //       }
  //     }
  //   }
  // }

  // .bartlp--block-3-mosaic-block-4 {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-evenly;
  //   &-container-1 {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //   }
  // }

  @media screen and (max-width: 835px) {
    .bartlp--block-3-mosaic {
      // grid-template-rows: repeat(4,  1fr);
      grid-row-gap: 10px;
      grid-column-gap: 0px;
      &-block {
        &-1 {
          grid-area: 1 / 1 / 2 / 2;
        }
        &-2 {
          grid-area: 2 / 1 / 3 / 2;
          margin-left: 2%;
          margin-right: 2%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          &-container {
            &-1 {
              // height: 10%;
            }
            &-2 {
              // height: 80%;
              img {
              }
            }
          }
        }
        &-3 {
          grid-area: 3 / 1 / 4 / 2;
          margin-left: 2%;
          margin-right: 2%;
          justify-content: space-evenly;
          &-container-2 {
            padding-bottom: 0%;
          }
        }
        &-4 {
          grid-area: 4 / 1 / 5 / 2;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          &-container-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    // .bartlp--block-3-mosaic-block-4 {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-evenly;
    //   &-container-1 {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //   }
    // }
  }

  @media screen and (max-width: 390px) {
    .bartlp--block-3-mosaic {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      // width: 100vw;
      &-block {
        &-1 {
          width: 100vw;
          // margin-left: 20%;
          // margin-right: 2%;
        }
        &-2 {
          width: 100vw;
          // margin-left: 2%;
          // margin-right: 2%;
          // width: 100vw;
        }
        &-3 {
          width: 100vw;
          // margin-left: 2%;
          // margin-right: 2%;
          // width: 100vw;
        }
        &-4 {
          width: 100vw;
          // margin-left: 2%;
          // margin-right: 2%;
          // width: 100vw;
        }
      }
    }
  }
}
