.bartlp--block-3 {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15%;
  article {
    text-align: center;
    z-index: 1;
  }

  .bartlp--block-3-mosaic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    &-block {
      &-1 {
        grid-area: 1 / 1 / 2 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 2%;
        margin-right: 2%;
        &-container {
          &-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-bottom: 6%;
            p {
              padding-left: 15%;
              padding-right: 15%;
            }
          }
          &-2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            // width: 100vw;
            &-row {
              &-1 {
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                grid-column-gap: 10px;
                padding-bottom: 10px;
                padding-right: 10px;
                &-card {
                  width: 238px;
                  height: 135px;
                  box-sizing: border-box;
                  // width: 238px;
                  border: 1px solid #a6b2d1;
                  border-radius: 10px;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  img {
                    margin: auto;
                  }
                }
              }
              &-2 {
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                grid-column-gap: 10px;
                padding-bottom: 10px;
                padding-right: 10px;
                &-card {
                  width: 238px;
                  height: 135px;
                  box-sizing: border-box;
                  // width: 238px;
                  border: 1px solid #a6b2d1;
                  border-radius: 10px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img {
                  }
                }
              }
            }
          }
        }
      }
      &-2 {
        grid-area: 2 / 1 / 3 / 2;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 4%;
        // margin-right: 2%;
        &-container {
          &-1 {
            height: 40%;
            // background-color: aqua;
            p {
              padding-left: 15%;
              padding-right: 15%;
            }
          }
          &-2 {
            // height: 60%;
            img {
              // object-fit: contain;
              // justify-content: flex-end;
            }
          }
        }
      }
      &-3 {
        grid-area: 2 / 2 / 3 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // margin-left: 2%;
        margin-right: 4%;
        &-container-2 {
          padding-bottom: 15%;
          margin: 10%;
          ul {
            list-style-type: none;
            display: flex;
            // justify-content: center;
            // align-items: center;
            padding-inline-start: 0;
            // align-items: stretch;
            li {
              flex: 1;
              box-sizing: border-box;
              margin-right: 1%;
              margin-left: 1%;
              padding: 4%;
              // width: 126px;
              // height: 77px;
              // width: 200%;
              // height: 25%;
              background-color: #ffffff;
              border-radius: 10px;
              // margin: 4px;
              // justify-content: center;
              // align-items: center;
              // // align-items:stretch;
              // display: block;
              // flex: ;
              display: flex;
              justify-content: center;
              img {
                // vertical-align: middle;
                // margin: auto;
                object-fit: scale-down;
                
              }
            }
          }
        }
      }
      &-4 {
        grid-area: 3 / 1 / 4 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 2%;
        margin-right: 2%;
        &-container-1 {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          p {
            padding-left: 15%;
            padding-right: 15%;
          }
        }
      }
    }
  }

  // .bartlp--block-3-mosaic-block-2 {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   &-container-2 {
  //     img {
  //       object-fit: fill;
  //       justify-content: flex-end;
  //     }
  //   }
  // }

  // .bartlp--block-3-mosaic-block-3 {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-around;
  //   &-container-2 {
  //     ul {
  //       list-style-type: none;
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //       padding-inline-start: 0;
  //       li {
  //         box-sizing: border-box;
  //         width: 126px;
  //         height: 77px;
  //         background-color: #ffffff;
  //         border-radius: 10px;
  //         margin: 4px;
  //         display: flex;
  //         justify-content: center;
  //         img {
  //           margin: auto;
  //         }
  //       }
  //     }
  //   }
  // }

  // .bartlp--block-3-mosaic-block-4 {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-evenly;
  //   &-container-1 {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //   }
  // }
  /* Looper styles */
  @keyframes slideAnim {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .looper {
    width: 100%;
    overflow: hidden;
  }

  .looper__innerList {
    display: flex;
    justify-content: center;
    width: fit-content;
  }

  .looper__innerList[data-animate="true"] .looper__listInstance {
    animation: slideAnim linear infinite;
  }

  .looper__listInstance {
    display: flex;
    width: max-content;

    animation: none;
  }

  /* Example content styles */
  // :root {
  //   --green: #59c3c3;
  //   --offwhite: #ebebeb;
  //   --red: #e65a5e;
  // }
  // html {
  //   height: 100%;
  // }
  // body {
  //   height: 100%;
  //   display: flex;
  //   flex-direction: column;
  // }
  // #root {
  //   flex: 1;
  //   padding: 16px;
  //   font-family: sans-serif;
  //   color: var(--offwhite);
  //   background: linear-gradient(-45deg, #4c468b, #05031a);
  // }
  // .description {
  //   margin-bottom: 16px;
  //   text-align: center;
  // }
  // .contentBlock {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   height: 120px;
  //   margin: 10px;
  //   padding: 16px;
  //   font-weight: 600;
  //   text-align: center;
  //   border-radius: 16px;
  // }
  // .contentBlock--one {
  //   width: 120px;
  //   background: rgba(255, 255, 255, 0.05);
  //   font-weight: 600;
  //   font-size: 18px;
  // }
  // .contentBlock--one:last-of-type {
  //   color: var(--green);
  //   margin-right: 36px;
  // }
  // .contentBlock--two {
  //   color: var(--green);
  //   font-size: 48px;
  //   background: rgba(255, 255, 255, 0.05);
  // }

  @media screen and (max-width: 835px) {
    .bartlp--block-3-mosaic {
      // grid-template-rows: repeat(4,  1fr);
      display: block;
      width: 100vw;
      &-block {
        &-1 {
          margin-bottom: 2%;
          // grid-area: 1 / 1 / 2 / 2;
          // margin-left: 0%;
          // margin-right: 0%;
          //!aaaaaaaaaaaaaaaaaaa
          &-container {
            &-1 {
              // background-color: aqua;
            }
            &-2 {
            }
          }
        }
        &-2 {
          // grid-area: 2 / 1 / 3 / 2;
          margin-left: 2%;
          margin-right: 2%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          margin-bottom: 2%;
          &-container {
            &-1 {
              // height: 10%;
              // background-color: aquamarine;
            }
            &-2 {
              // height: 80%;
              // background-color: deeppink;
              img {
              }
            }
          }
        }
        &-3 {
          // grid-area: 3 / 1 / 4 / 2;
          margin-left: 2%;
          margin-right: 2%;
          margin-bottom: 2%;
          justify-content: space-evenly;
          &-container-1{
            p {
              padding-left: 15%;
              padding-right: 15%;
            }
          }
          &-container-2 {
            padding-bottom: 0%;
            overflow: hidden;
          }
        }
        &-4 {
          // grid-area: 4 / 1 / 5 / 2;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          &-container-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 5%;
          }
        }
      }
    }
    // .bartlp--block-3-mosaic-block-4 {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-evenly;
    //   &-container-1 {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //   }
    // }
  }

  @media screen and (max-width: 390px) {
    .bartlp--block-3-mosaic {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      // width: 100vw;
      &-block {
        &-1 {
          // width: 100vw;
          // margin-left: 20%;
          // margin-right: 2%;
        }
        &-2 {
          // width: 100vw;
          // margin-left: 2%;
          // margin-right: 2%;
          // width: 100vw;
          // display: flex;
          // align-items: flex-end;
        }
        &-3 {
          // margin-left: 2%;
          // margin-right: 2%;
          // width: 100vw;
          // &-container-2 {
          //   // display: flex;
          //   display: flex;
          //   justify-content: center;
            // ul {
              // display: flex;
              // flex-direction: column;

              // li {
              // }
            // }
          // }
        }
        &-4 {
          // margin-left: 2%;
          // margin-right: 2%;
          // width: 100vw;
        }
      }
    }
  }
}
