.bartlp--block-3 {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 7%;
  article {
    text-align: center;
    z-index: 1;
  }

  .bartlp--block-3-mosaic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    h3 {
      padding-top: 6%;
    }
    &-block {
      &-1 {
        grid-area: 1 / 1 / 2 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 2%;
        margin-right: 2%;
        &-container {
          &-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-bottom: 3%;
            p {
              padding-left: 15%;
              padding-right: 15%;
              padding-bottom: 4%;
            }
          }
          &-2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            &-row {
              &-1 {
                display: grid;
                grid-template-columns: repeat(9, 1fr);
                grid-column-gap: 10px;
                padding-bottom: 10px;
                padding-right: 10px;
                &-card {
                  width: 238px;
                  height: 135px;
                  box-sizing: border-box;
                  border: 1px solid #a6b2d1;
                  border-radius: 10px;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  img {
                    margin: auto;
                  }
                }
              }
              &-2 {
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                grid-column-gap: 10px;
                padding-bottom: 10px;
                padding-right: 10px;
                &-card {
                  width: 238px;
                  height: 135px;
                  box-sizing: border-box;
                  border: 1px solid #a6b2d1;
                  border-radius: 10px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img {
                  }
                }
              }
            }
          }
        }
      }
      &-2 {
        grid-area: 2 / 1 / 3 / 2;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 4%;
        &-container {
          &-1 {
            height: 40%;
            p {
              padding-left: 15%;
              padding-right: 15%;
            }
          }
          &-2 {
            img {
            }
          }
        }
      }
      &-3 {
        grid-area: 2 / 2 / 3 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 4%;
        &-container-1 {
          p {
            padding-left: 15%;
            padding-right: 15%;
          }
        }
        &-container-2 {
          padding-bottom: 5%;
          margin: 10%;
          ul {
            list-style-type: none;
            display: flex;

            padding-inline-start: 0;
            li {
              flex: 1;
              box-sizing: border-box;
              margin-right: 1%;
              margin-left: 1%;
              padding: 4%;

              background-color: #ffffff;
              border-radius: 10px;

              display: flex;
              justify-content: center;
              img {
                object-fit: scale-down;
              }
            }
          }
        }
      }
      &-4 {
        grid-area: 3 / 1 / 4 / 3;
        background-color: #f5f5f7;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 2%;
        margin-right: 2%;
        &-container-1 {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          p {
            padding-left: 15%;
            padding-right: 15%;
          }
        }
      }
    }
  }

  @keyframes slideAnim {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .looper {
    width: 100%;
    overflow: hidden;
  }

  .looper__innerList {
    display: flex;
    justify-content: center;
    width: fit-content;
  }

  .looper__innerList[data-animate="true"] .looper__listInstance {
    animation: slideAnim linear infinite;
  }

  .looper__listInstance {
    display: flex;
    width: max-content;

    animation: none;
  }

  @media screen and (max-width: 835px) {
    .bartlp--block-3-mosaic {
      display: block;
      width: 100vw;
      &-block {
        &-1 {
          margin-bottom: 2%;

          &-container {
            &-1 {
              a {
                padding-bottom: 3%;
              }
            }
            &-2 {
            }
          }
        }
        &-2 {
          margin-left: 2%;
          margin-right: 2%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          margin-bottom: 2%;
          &-container {
            &-1 {
            }
            &-2 {
              img {
              }
            }
          }
        }
        &-3 {
          margin-left: 2%;
          margin-right: 2%;
          margin-bottom: 2%;
          justify-content: space-evenly;
          &-container-1 {
            p {
              padding-left: 15%;
              padding-right: 15%;
            }
          }
          &-container-2 {
            padding-bottom: 0%;
            overflow: hidden;
          }
        }
        &-4 {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          &-container-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 5%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 390px) {
    .bartlp--block-3-mosaic {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      &-block {
        &-1 {
        }
        &-2 {
        }
        &-3 {
        }
        &-4 {
        }
      }
    }
  }
}
