:root {
  --color-primary: #ff4500;
  --color-primary-shade: #ce3800;

  --color-secondary: #d7dded;
  --color-secondary-shade: #a6b2d1;

  --color-light-container: hsl(240, 33%, 99%);

  --color-medium-container: hsl(240, 11%, 96%);

  --color-dark-container: hsl(220, 30%, 96%);

  --color-font-primary: #0b2817;

  --color-font-secondary: #6e6e73;

  --color-font-tertiary: #0b9e46;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.1rem;
  font-family: 62.5%/1.5 "Satoshi";
  background: var(--color-background);
  color: var(--color-font-primary);
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;

  li {
    transition: all 0.35s ease;
    cursor: pointer;
    position: relative;
  }
}

header {
  position: fixed;
  left: 0;
  right: 0;
}
main {
  height: 100%;
}

h1 {
  font-family: var(--font-black-satoshi);
  font-weight: 900;
  font-size: 90px;
  line-height: 121.5px;
  .medium {
    font-family: var(--font-medium-satoshi);
    font-weight: 500;
    font-size: 90px;
    line-height: 121.5px;
  }
}

h2 {
  font-family: var(--font-black-satoshi);
  font-weight: 900;
  font-size: 64px;
  line-height: 86.4px;
}
h3 {
  font-family: var(--font-black-satoshi);
  font-weight: 900;
  font-size: 34px;
  line-height: 45.9px;
}

p {
  font-family: var(--font-bold-satoshi);
  font-size: 24px;
  line-height: 32.4px;
  .text-style {
    &-type-1 {
      font-family: var(--font-bold-satoshi);
      font-size: 24px;
      line-height: 32.4px;
    }
    &-type-2 {
      font-family: var(--font-bold-satoshi);
      font-size: 20px;
      line-height: 27px;
    }
    &-type-3 {
      font-family: var(--font-regular-satoshi);
      font-size: 24px;
      line-height: 32.4px;
    }
    &-type-4 {
      font-family: var(--font-regular-satoshi);
      font-size: 20px;
      line-height: 29px;
    }
    &-type-5 {
      font-family: var(--font-regular-satoshi);
      font-size: 18px;
      line-height: 30px;
    }
    &-type-6 {
      font-family: var(--font-bold-satoshi);
      font-size: 16px;
      line-height: 21.6px;
    }
  }
}

@media screen and (max-width: 835px) {
  h1 {
    font-family: var(--font-black-satoshi);
    font-size: 74px;
    line-height: 99.9px;

    .medium {
      font-family: var(--font-medium-satoshi);
      font-size: 74px;
      line-height: 99.9px;
    }
  }

  h2 {
    font-family: var(--font-black-satoshi);
    font-size: 64px;
    line-height: 86.4px;
  }
  h3 {
    font-family: var(--font-black-satoshi);
    font-size: 34px;
    line-height: 45.9px;
  }
}

@media screen and (max-width: 390px) {
  header {
    left: 0;
    right: 0;
  }
  main {
    height: 100%;
  }
  h1 {
    font-family: var(--font-black-satoshi);
    font-size: 54px;
    line-height: 72.9px;

    .medium {
      font-family: var(--font-medium-satoshi);
      font-size: 54px;
      line-height: 72.9px;
    }
  }

  h2 {
    font-family: var(--font-black-satoshi);
    font-size: 40px;
    line-height: 54px;
  }
  h3 {
    font-family: var(--font-black-satoshi);
    font-size: 34px;
    line-height: 45.9px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.head-container {
  padding-bottom: 5%;
  h2 {
    padding-left: 13%;
    padding-right: 13%;
    margin-bottom: 0;
  }
  p {
    padding-left: 14.5%;
    padding-right: 14.5%;
    color: #616161;
  }
}

.submit-button {
  background: var(--color-primary);
  height: 40.72877502441406px;
  width: 194px;
  left: 20px;
  top: 20px;
  border-radius: 24px;
  padding: 11px 16px 11px 16px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  &:hover {
    background: var(--color-primary-shade);
  }
}

.access-button {
  background: var(--color-secondary);
  height: 40.72877502441406px;
  width: 194px;
  left: 20px;
  top: 20px;
  border-radius: 24px;
  padding: 11px 16px 11px 16px;
  border: none;
  cursor: pointer;
  &:hover {
    background: var(--color-secondary-shade);
  }
}
