.bartlp--contactForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  article {
    text-align: center;
    z-index: 1;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  // #contactForm {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  // }

  // .customer-type {
  .form-field{
    padding: 2%;
  }

  // }
  &-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75vw;
    &-container-1 {
      // display: flex;
      display: flex;
      // justify-content: center;
      // align-items: center;
      // padding: 27px 142.5px 27px 141.688px;
      // background-color: transparent;
      // display: flex;

      &-customer-1 {
        border: 2px solid #36415e;
        background-color: transparent;
        border-radius: 20px;
        // min-height: 25%;
        // min-width: 25%;``
        width: 50%;
        margin-right: 2%;
        margin-left: 2%;
        padding: 3%;
      }
      &-customer-2 {
        border: 2px solid #36415e;
        background-color: transparent;
        border-radius: 20px;
        // min-height: 25%;
        // min-width: 25%;
        width: 50%;
        margin-left: 2%;
        margin-right: 2%;
        padding: 3%;
      }
    }
    &-container-2 {
      display: flex;
      // gap:10vh
      &-left {
        width: 50%;
        padding: 2%;
      }
      &-right {
        width: 50%;
        padding: 2%;
      }
    }
  }

  @media screen and (max-width: 835px) {
    &-fields {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100vw;
      &-container-1 {
        // display: flex;

        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        // align-items: center;
        // padding: 27px 142.5px 27px 141.688px;
        // background-color: transparent;
        // display: flex;

        &-customer-1 {
          border: 2px solid #36415e;
          background-color: transparent;
          border-radius: 20px;
          // min-height: 25%;
          // min-width: 25%;``
          width: 50%;
          height: 50%;
          margin-bottom: 2%;
          margin-left: 2%;
          padding: 3%;
        }
        &-customer-2 {
          border: 2px solid #36415e;
          background-color: transparent;
          border-radius: 20px;
          // min-height: 25%;
          // min-width: 25%;
          width: 50%;
          height: 50%;
          margin-bottom: 2%;
          margin-left: 2%;
          margin-right: 2%;
          padding: 3%;
        }
      }
      &-container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        // gap:10vh
        &-left {
          width: 50%;
          padding: 0%;
        }
        &-right {
          width: 50%;
          padding: 0%;
        }
      }
    }
  }

  @media screen and (max-width: 390px) {
    &-fields {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100vw;
      &-container-1 {
        // display: flex;

        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        // align-items: center;
        // padding: 27px 142.5px 27px 141.688px;
        // background-color: transparent;
        // display: flex;

        &-customer-1 {
          border: 2px solid #36415e;
          background-color: transparent;
          border-radius: 20px;
          // min-height: 25%;
          // min-width: 25%;``
          width: 90%;
          height: 50%;
          margin-bottom: 2%;
          margin-left: 2%;
          padding: 7%;
        }
        &-customer-2 {
          border: 2px solid #36415e;
          background-color: transparent;
          border-radius: 20px;
          // min-height: 25%;
          // min-width: 25%;
          width: 90%;
          height: 50%;
          margin-bottom: 2%;
          margin-left: 2%;
          margin-right: 2%;
          padding: 7%;
        }
      }
      &-container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        // gap:10vh
        &-left {
          width: 90%;
          padding: 0%;
        }
        &-right {
          width: 90%;
          padding: 0%;
        }
      }
    }
  }
}
