.bartlp--footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;

  ul {
    list-style-type: none;
    padding: 0;
    li {
      padding-left: 2%;

      a {
        text-decoration: none;
        color : var(--color-font-primary)
      }
    }
  }

  &-block-1 {
    display: flex;
  }
  &-block-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-section-1 {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      white-space: nowrap;
      img {
        margin: auto;
      }
      div {
        padding-left: 2%;
      }
    }
    &-section-2 {
      padding-left: 2%;
    }
    ul {
      display: flex;
      li {
        padding-right: 10%;
        padding-inline-start: 0;
      }
    }
  }
}

@media screen and (max-width: 835px) {
  .bartlp--footer {
    flex-direction: column;
    justify-content: space-around;
    ul {
      li {
        padding-left: 0%;
      }
    }

    &-block-1 {
      justify-content: space-around;
    }
    &-block-2 {
      flex-direction: column;
      justify-content: space-between;

      &-section-1 {
        flex-direction: column;

        img {
          padding-bottom: 2%;
        }
        div {
          padding-left: 0%;
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .bartlp--footer {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        padding-bottom: 2%;
      }
    }
    &-block-1 {
    }
    &-block-2 {
      flex-direction: column;
      justify-content: space-between;

      &-section-1 {
        flex-direction: column;

        img {
          padding-bottom: 2%;
        }
        div {
          padding-left: 0%;
        }
      }
      ul {
        display: flex;
        flex-direction: row;
        li {
          padding-right: 10%;
          padding-inline-start: 0;
        }
      }
    }
  }
}
