.bartlp--header {
  color: #ffffff;
  padding: 0 0px 0 0px;
  transition: background-color 0.3s ease-in-out;
  z-index: 999;
  &.active {
    background-color: #ffffff;
  }
  .bartlp--header-navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    height: 80px;
    .bartlp--header-navbar-left {
      a {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        width: 99px;
        height: 44px;
        img {
          margin: auto;
        }
      }
      a img:last-child {
        display: none;
      }
      a:hover img:last-child {
        display: block;
      }
      a:hover img:first-child {
        display: none;
      }
    }
    .bartlp--header-navbar-right {
      margin-right: 2%;
    }
  }
  @media screen and (max-width: 835px) {
    .bartlp--header-navbar {
      display: flex;
      justify-content: space-between;
      .bartlp--header-navbar-left {
        margin-left: 5%;
        a {
          position: static;
        }
      }
      .bartlp--header-navbar-right {
        margin-right: 5%;
      }
    }
  }
}
