.bartlp--header {
  color: #ffffff;
  padding: 0 0px 0 0px;
  transition: background-color 0.3s ease-in-out;
  z-index: 999;
  &.active {
    background-color: #ffffff;
  }
  .bartlp--header-navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    .bartlp--header-navbar-left {
      cursor: pointer;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: flex;
      img {
        justify-content: center;
        align-items: center;
        margin: auto;
      }
    }
    .bartlp--header-navbar-right {
      .access-button-wrapper-s {
        display: none;
      }
      .access-button-wrapper-l {
        display: inline;
      }
      ul {
        display: flex;
        list-style: none;
        li {
          flex-grow: 1;
          margin-right: 20px;
          text-decoration: none;
        }
      }
    }
  }
  @media screen and (max-width: 835px) {
    .bartlp--header-navbar {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      justify-content: flex-end;
      background-color: #ffffff;
      .bartlp--header-navbar-left {
        cursor: pointer;
        width: 100px;
        height: 100px;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-right: 10%;
        margin: auto;
        display: flex;

        img {
          justify-content: center;
          align-items: center;
          margin: auto;
        }
      }
      .bartlp--header-navbar-right {
        ul {
          display: flex;
          list-style: none;
          li {
            flex-grow: 1;
            margin-right: 20px;
            text-decoration: none;
          }
        }
      }
    }
  }
  @media screen and (max-width: 390px) {
    .bartlp--header-navbar {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      height: 100px;
      .bartlp--header-navbar-left {
        cursor: pointer;
        width: 100px;
        height: 100px;
        position: static;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-right: 0%;
        margin: auto;
        display: flex;
        &.active {
          display: none;
        }
        img {
          justify-content: center;
          align-items: center;
          margin: auto;
        }
      }
      .bartlp--header-navbar-right {
        display: flex;
        top: 0;
        width: 100vh;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        &-button-1 {
          padding-right: 5%;
        }
        .access-button {
          background: var(--color-secondary);
          height: 40.72877502441406px;
          width: 100px;
          left: 20px;
          top: 20px;
          border-radius: 24px;
          padding: 11px 16px 11px 16px;
          border: none;
          cursor: pointer;
          &:hover {
            background: var(--color-secondary-shade);
          }
        }
        .access-button-wrapper-l {
          display: none;
        }
        .access-button-wrapper-s {
          display: inline;
        }
        ul {
          display: flex;
          list-style: none;
          padding-inline-start: 0px;

          li {
            flex-grow: 1;
            margin-right: 0px;
            text-decoration: none;
          }
        }
      }
    }
  }
}
